.tile {
    display: flex;
    
    width: 100%;    
}

.projects {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;

    justify-items: center;


}

.gnats {
    background-image: url('../../img/gnats.gif');
    background-size: cover;
    width: 100%;
    height: 20vw;
    margin: 10% 5% 10% 5%;
    border-radius: 30px;
}

.gnats:hover {
    transition-duration: .2s;
    border-radius: 15px;
}

.mergium {
    background-image: url('../../img/mergium.gif');
    background-size: cover;
    width: 100%;
    height: 20vw;
    margin: 10% 5% 10% 5%;
    border-radius: 30px;
}

.burger {
    background-image: url('../../img/burger.gif');
    background-size: cover;
    width: 100%;
    height: 20vw;
    margin: 10% 5% 10% 5%;
    border-radius: 30px;
}

.burger:hover {
    transition-duration: .2s;
    border-radius: 15px;
}

.mergium:hover {
    transition-duration: .2s;
    border-radius: 15px;
}

.eulerfluid {
    background-image: url('../../img/eulerfluid.gif');
    background-size: cover;
    width: 100%;
    height: 20vw;
    margin: 10% 5% 10% 5%;
    border-radius: 30px;
}

.cover {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    
    opacity: 0;
}

.cover:hover {
    background-color: black;
    display: block;
    color: white;
    transition-duration: .2s;
    border-radius: 15px;
    opacity: .8
}

.project-title {
    display: flex;
    font-size: calc(5px + 2vw);
    justify-content: center;
    margin-bottom: -2%;
    padding-top: 2%;
    
}

.project-desc {
    font-size: calc(1.3vw);
    padding: 3%;
}

.show-more-button {
    width: 15%;
    min-width: 3vw;
    color: white;
    font-size: calc(8px + 1vw);
    font-family: helvetica;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    background-color: black;
    padding: 4px 30px;
    margin: -2% 1% 1% 1%;
}

.show-more-button:hover {
    color: black;
  background-color: grey;
  transition-duration: .2s;
  border-radius: 15px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

*:focus {
    outline: none;
}

p {
    margin: 0% 1% 1% 1%;
}


@media (max-width: 900px) {
    .projects {
        grid-template-columns: 50% 50%;
    }

    .burger, .mergium, .gnats, .eulerfluid {
        height: 30vw;
    }

    .project-title {
        font-size: calc(5px + 3vw);
    }

    .project-desc {
        font-size: calc(2vw)
    }
    
    
}

@media (max-width: 500px) {
    .projects {
        grid-template-columns: 100%;
    }

    .show-more-button {
        width: 50%;
    }

    .burger, .mergium, .gnats, .eulerfluid {
        height: 60vw;
    }

    .project-title {
        font-size: calc(20px + 3vw);
    }

    .project-desc {
        font-size: calc(7px + 2vw)
    }
    
    
}