/* .App { */
    /* text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  } */
/*   
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
   */

  .nav {
    background-color:  #000000;
    position: static;
    top: 0px;
    width: 100%;
    height: 50px;
    z-index: 1000;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  }
  
  .nav-content {
    max-width: 900px;
    padding: 0rem 4rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:120%;
  }
  
  .nav-item {
    display: inline;
    margin-left: 2rem;
    color: rgb(255, 242, 242);
  }
  
  .nav-item:hover {
    color: rgb(38, 149, 201);
    cursor: pointer;
  }
  
  .section {
  }
  
  .section-dark {
    background: #333;
    color: white;
  }
  
  .section-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
  }
  
  #welcomepage{
    background-image: url('../../img/new_york_image.jpeg');
    background-size: cover;
    background-position: center center;
    position:relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: -10;
  }
  
  #welcomepage-overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -5;
  }
  
  .whiteheader{
    color: #fff;
  }
  
  