/* .App { */
    /* text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  } */
/*   
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
   */

  #titleHeader {

    padding: 60px;
    text-align: center;
    font-size: 50px;
    color: rgb(15, 6, 46);
    font-family: "Times New Roman", Times, serif;

  }

  hr {
    border: 0;
    clear:both;
    display:block;
    width: 66%;               
    background-color:rgb(19, 19, 4);
    height: 1px;
  }

  .divider {
    flex-grow: 1;
    border-bottom: 1px solid black;
    margin: 5px
  }

  .nav {
    background-color:  #000000;
    position: satic;
    top: 0px;
    width: 100%;
    height: 50px;
    z-index: 1000;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  }
  
  .nav-content {
    max-width: 900px;
    padding: 0rem 4rem;
    margin: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:120%;
  }
  
  .nav-item {
    display: inline;
    margin-left: 2rem;
    color: rgb(255, 242, 242);
  }
  
  .nav-item:hover {
    color: rgb(38, 149, 201);
    cursor: pointer;
  }
  
  .section-dark {
    background: #333;
    color: white;
  }

  .section-gold {
    background: rgb(150, 128, 68);
    color: white;
  }
  
  #bio {
    font-size: 20px;
    text-align: left;
  }

  .section-content {
    max-width: 2000px;
    margin: 0 auto;
    padding: 40px;
    vertical-align: bottom
  }

  #experienceInfo {
    text-align: left;
    font-size: 18px;
  }

  #projectInfo {
    text-align: left;
    font-size: 18px;
  }
  
  #welcomepage{
    background-image: url('../../img/new_york_image2.jpg');
    background-size: cover;
    background-position: center center;
    position:relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: -10;
  }
  
  #welcomepage-overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.1);
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -5;
  }
  
  .whiteheader{
    color: #fff;
  }
  
  